
$dark-blue:  hsl(235, 46%, 20%);
$pale-blue: hsl(236, 100%, 87%);
$desaturated-blue: hsl(235, 45%, 61%);
$very-dark-blue: hsl(226, 43%, 10%);
$white: #fff;
$black: #000;
$card-bg: #574ee5;
// Background color
$body-bg: $very-dark-blue;